:root {
    --primary-color: 236, 114, 22;
    --primary-foreground: 255, 255, 255;
    --secondary-color: 246, 247, 255;
    --tertiary-color: 2, 132, 199;
    --bg-color: 49, 61, 186;

    --primary-font-family: "Lato", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    *,
    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-snap-align: center;
        font-family: var(--primary-font-family);
        scroll-behavior: smooth;
    }

    body {
        background-color: rgba(var(--secondary-color));
    }

    .main-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.slide-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.slide-toggle.open {
    max-height: 500px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.video-mask-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.video-mask {
    width: 100%;
    height: 100%;
    object-fit: cover;

    mask-image: url('/images/bg-d.png');
    -webkit-mask-image: url('/images/bg-d.png');

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: right;
    -webkit-mask-position: right;

    mask-size: 80% auto;
    -webkit-mask-size: 80% auto;
}

@media (max-width: 1000px) {
    .video-mask {
        mask-position: center;
        -webkit-mask-position: center;

        mask-size: 60% auto;
        -webkit-mask-size: 60% auto;
    }
}


.writing-mode-vertical-lr {
    writing-mode: vertical-lr;
}