:root {
    --primary-color: 236, 114, 22;
    --primary-foreground: 255, 255, 255;
    --secondary-color: 246, 247, 255;
    --tertiary-color: 2, 132, 199;

    --primary-font-family: "Quicksand", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    *,
    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-snap-align: center;
        font-family: var(--primary-font-family);
    }

    body {
        background-color: rgba(var(--secondary-color));
    }

    .main-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.slide-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.slide-toggle.open {
    max-height: 500px;
}

.rotate-180 {
    transform: rotate(180deg);
}